<!DOCTYPE html>
<html>
  {% include "style" %}
  <body class="w3-black">
    {% include "sidebar" %}

    <div class="w3-padding-large" id="main">
      {% block content %}{% endblock content %}
    </div>
  </body>
</html>
